NGINX_PORT=

LARAVEL_PORT=
NODE_PORT=
PYTHON_PORT=
CSHARP_PORT=
VB_PORT=
JAVA_PORT=
WORDPRESS_PORT=

MYSQL_PORT=
MYSQL_WP_PORT=
MONGO_PORT=
POSTGRES_PORT=
SQLSERVER_CSHARP_PORT=
SQLSERVER_VB_PORT=
ORACLE_PORT=

RABBITMQ_PORT=
RABBITMQ_UI_PORT=

PROMETHEUS_PORT=
GRAFANA_PORT=

MYSQL_DB=
MYSQL_USER=
MYSQL_PASSWORD=

WP_DB_NAME=
WP_DB_USER=
WP_DB_PASS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SA_PASSWORD=
ORACLE_PASSWORD=

JWT_SECRET=